<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.backend.bid.model.BidMapper">

    <!-- 굿즈 글에 대한 금액 및 입찰자 정보 조회 -->
    <select id="selectGoodsPriceAndBidInfoByGoodsId" parameterType="Long" resultType="com.ssafy.backend.bid.model.BidInternalDto$GoodsPriceBidInfo">
        SELECT
            g.seller_id,
            g.title,
            g.start_price,
            g.instant_buy_price,
            b.id AS bidId,
            b.bidder_id,
            b.bid_amount AS currentBidAmount
        FROM goods g
            LEFT JOIN bid b
                ON b.goods_id = g.id
                    AND b.is_highest IS TRUE
        WHERE g.id = #{goodsId}
          AND g.auction_status IN ('WAIT', 'PROCEEDING')
          AND g.deleted_at IS NULL
        FOR UPDATE;
    </select>

    <!-- 현재 최고가 여부 false 로 변경 -->
    <update id="updateIsHighestByGoodsId" parameterType="Long">
        UPDATE bid
        SET is_highest = false
        WHERE goods_id = #{goodsId}
          AND is_highest IS TRUE;
    </update>

    <!-- 예치금 unlock/lock/정산 -->
    <update id="updateBalanceStatus" parameterType="com.ssafy.backend.bid.model.BidInternalDto$CoinWalletBalance">
        UPDATE coin_wallet
        <set>
            <if test="balanceStatus != null">
                <choose>
                    <when test="balanceStatus.name() == 'BIDUNLOCK'">
                        balance = balance + #{bidAmount},
                        locked_balance = locked_balance - #{bidAmount}
                    </when>
                    <when test="balanceStatus.name() == 'BIDLOCK'">
                        balance = balance - #{bidAmount},
                        locked_balance = locked_balance + #{bidAmount}
                    </when>
                    <when test="balanceStatus.name() == 'EXPENSE'">
                        balance = balance - #{bidAmount}
                    </when>
                    <when test="balanceStatus.name() == 'INCOME'">
                        balance = balance + #{bidAmount}
                    </when>
                    <otherwise>
                        locked_balance = locked_balance - #{bidAmount}
                    </otherwise>
                </choose>
            </if>
        </set>
        <where>
            user_id = #{userId}
        </where>
        <if test="balanceStatus.name() == 'BIDLOCK' or balanceStatus.name() == 'EXPENSE'">
            AND balance >= #{bidAmount}
        </if>
    </update>


    <!-- 입찰자의 거래내역 등록 -->
    <insert id="insertBidWalletHistory" parameterType="com.ssafy.backend.bid.model.BidInternalDto$BidWalletHistory">
        INSERT INTO wallet_history (
            wallet_id,
            goods_id,
            transaction_type,
            amount,
            description
        )
        VALUES (
            (SELECT id FROM coin_wallet WHERE user_id = #{userId}),
            #{goodsId},
            #{transactionType},
            #{amount},
            CONCAT('<![CDATA[<]]> ',(select title from goods where id = #{goodsId}), ' > ', #{description})
        );
    </insert>

    <!--  지갑 잔액 조회 (FOR UPDATE) -->
    <select id="selectCoinWalletBalanceForUpdate" parameterType="Long" resultType="int">
        SELECT balance
        FROM coin_wallet
        WHERE user_id = #{loginUserId}
        FOR UPDATE;
    </select>

    <!-- 현재 최고가로 입찰 등록 -->
    <insert id="insertCurrentBidAmount" parameterType="Bid">
        INSERT INTO bid (goods_id, bidder_id, bid_amount, is_highest)
        VALUES (#{goodsId}, #{bidderId}, #{bidAmount}, true)
    </insert>

    <!-- 종료 대상 경매 조회 -->
    <select id="selectEndedAuctions" resultType="Goods">
        SELECT *
        FROM goods
        WHERE auction_end_at <![CDATA[<=]]> NOW()
          AND auction_status IN ('WAIT', 'PROCEEDING')
          AND deleted_at IS NULL
    </select>

    <!-- 굿즈 경매 상태 업데이트 -->
    <update id="updateAuctionStatus">
        UPDATE goods
        SET
        auction_status = #{auctionStatus}
        WHERE id = #{goodsId}
        AND deleted_at IS NULL;
    </update>
</mapper>