<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.backend.comment.model.CommentMapper">

    <!-- 댓글 또는 대댓글 등록 -->
    <insert id="insertComment" parameterType="Comment">
        INSERT INTO comment (goods_id, writer_id, parent_id, content)
        VALUES (#{goodsId}, #{writerId}, #{parentId}, #{content});
    </insert>

    <!-- 특정 굿즈의 댓글 (+ 대댓글, 계층형 구조로 나눌 예정) -->
    <select id="selectAllCommentByGoodsId" parameterType="Long" resultType="com.ssafy.backend.comment.model.CommentResponseDTO">
        SELECT
            c.id          AS commentId,
            parent_id     AS parentId,
            goods_id      AS goodsId,
            writer_id     AS writerId,
            u.nickname    AS writerNickName,
            ta.poster_url AS writerProfileFilePath,
            content,
            c.created_at  AS createdAt
        FROM comment c
            INNER JOIN user u
                ON c.writer_id = u.id
            LEFT JOIN tmdb_anime ta
                ON ta.id = u.liked_anime_id1
        WHERE goods_id = #{goodsId}
        ORDER BY createdAt DESC
    </select>

    <!-- 댓글 수정하기 -->
    <update id="updateComment" parameterType="Comment">
        UPDATE comment
        SET content = #{content},
            updated_at = NOW()
        WHERE id = #{commentId}
          AND writer_id = #{writerId}
          AND deleted_at IS NULL;
    </update>

    <!-- 자식 댓글의 개수 조회 -->
    <select id="countChildCommentByParentId" parameterType="Long">
        SELECT count(*)
        FROM comment
        WHERE parent_id = #{parentId}
    </select>

    <!-- 대댓글의 부모ID와 soft delete 여부 조회 -->
    <select id="selectParentIdAndDeletedAtByCommentId" parameterType="map">
        SELECT
            parent_id,
            deleted_at
        FROM comment
        WHERE id = #{commentId}
    </select>

    <!-- soft delete 처리 -->
    <update id="softDeleteComment" parameterType="map">
        UPDATE comment
        SET deleted_at = now(),
            content = '(삭제된 댓글입니다.)'
        WHERE id = #{commentId}
         AND writer_id = #{writerId}
    </update>

    <!-- hard delete 처리 -->
    <delete id="hardDeleteComment" parameterType="map">
        DELETE FROM comment
        WHERE id = #{commentId}
          AND writer_id = #{writerId}
    </delete>
</mapper>