<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.backend.goods.model.GoodsMapper">

    <!-- 굿즈 등록 -->
    <insert id="insertGoods" parameterType="Goods" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO goods(
            seller_id,
            anime_id,
            category,
            title,
            description,
            start_price,
            instant_buy_price,
            auction_status,
            duration,
            auction_end_at,
            created_at
        )
        VALUES (
            #{sellerId},
            #{animeId},
            #{category},
            #{title},
            #{description},
            #{startPrice},
            #{instantBuyPrice},
            'WAIT',
            #{duration},
            #{auctionEndAt},
            #{createdAt}
        );
    </insert>


    <!-- 굿즈 목록 조회 (검색/필터) -->
    <select id="selectAllGoodsBySearch" parameterType="com.ssafy.backend.goods.model.GoodsRequestDto$GoodsLookUp" resultType="com.ssafy.backend.goods.model.GoodsResponseDto$GoodsCard">
        SELECT
            g.id as goodsId,
            g.title as title,
            g.seller_id as sellerId,
            g.category as category,
            g.auction_status as auctionStatus,
            g.auction_end_at as auctionEndAt,
            g.created_at as createdAt,
            MAX(u.nickname) AS sellerNickname,
            MAX(ta.title) AS animeTitle,
            MAX(b.bid_amount) AS currentBidAmount,
            MAX(gi.file_path) AS mainFilePath,
            COUNT(w.goods_id) AS wishCount
        FROM goods g
            LEFT JOIN user u ON g.seller_id = u.id
            LEFT JOIN bid b ON b.goods_id = g.id AND b.is_highest = TRUE
            LEFT JOIN goods_image gi ON gi.goods_id = g.id AND gi.sort_order = 1
            LEFT JOIN wishlist w ON w.goods_id = g.id
            LEFT JOIN tmdb_anime ta ON ta.id = g.anime_id
        <where>
            g.deleted_at IS NULL
            <if test="auctionStatus != null">
                and auction_status = #{auctionStatus}
            </if>
            <if test="category != null">
                and category = #{category}
            </if>
            <if test="searchName != null and searchName != ''">
                and (
                    g.title LIKE CONCAT('%', #{searchName}, '%')
                    OR ta.title LIKE CONCAT('%', #{searchName}, '%')
                )
            </if>
        </where>
        GROUP BY g.id
        ORDER BY
            <choose>
                <when test="sort.equals('price')">
                    currentBidAmount DESC
                </when>
                <when test="sort.equals('wish')">
                    wishCount DESC
                </when>
                <otherwise>
                    g.auction_end_at ASC
                </otherwise>
            </choose>
        LIMIT #{pageOffset}, #{size}
    </select>

    <!-- 총 굿즈 글 갯수 -->
    <select id="countGoods" parameterType="com.ssafy.backend.goods.model.GoodsRequestDto$GoodsLookUp">
        SELECT
        count(*)
        FROM goods g
            LEFT JOIN tmdb_anime ta ON ta.id = g.anime_id
        <where>
            g.deleted_at IS NULL
            <if test="auctionStatus != null">
                and auction_status = #{auctionStatus}
            </if>
            <if test="category != null">
                and category = #{category}
            </if>
            <if test="searchName != null and searchName != ''">
                and (
                    g.title LIKE CONCAT('%', #{searchName}, '%')
                    OR ta.title LIKE CONCAT('%', #{searchName}, '%')
                )
            </if>
        </where>
    </select>

    <!-- 굿즈 상세 조회 -->
    <select id="selectGoodsById" parameterType="Long" resultType="com.ssafy.backend.goods.model.GoodsResponseDto$GoodsDetail">
        SELECT
            g.id AS goodsId,
            anime_id,
            seller_id,
            u.nickname AS sellerNickName,
            ta.poster_url AS sellerProfileFilePath,
            category,
            ta.title AS animeTitle,
            g.title,
            description,
            start_price,
            b.bid_amount AS currentBidAmount,
            instant_buy_price,
            auction_status,
            g.created_at,
            auction_end_at,
            (
                SELECT count(*)
                FROM wishlist
                WHERE goods_id = g.id
            ) AS wishCount,
            (
                SELECT EXISTS(
                    SELECT 1 FROM wishlist
                    WHERE goods_id = g.id
                    AND user_id = #{loginUserId})
            ) AS checkWish,
            (g.seller_id = #{loginUserId}) AS checkSeller
        FROM goods g
            INNER JOIN user u
                ON u.id = g.seller_id
            LEFT JOIN tmdb_anime ta
                ON ta.id = g.anime_id and ta.id = u.liked_anime_id1
            LEFT JOIN bid b
            ON b.goods_id = g.id AND b.is_highest IS TRUE
        WHERE g.id = #{goodsId}
          AND g.deleted_at IS NULL
    </select>

    <!-- 경매에 입찰한 참여자 리스트 조회 -->
    <select id="selectBidParticipantByGoodsId" parameterType="Long" resultType="com.ssafy.backend.goods.model.GoodsResponseDto$BidParticipant">
        SELECT
        DENSE_RANK() OVER (ORDER BY bid_amount DESC) AS bidRank,
        b.id AS bidId,
        bidder_id,
        u.nickname AS bidderNickName,
        ta.poster_url AS bidderProfileFilePath,
        bid_amount,
        is_highest
        FROM bid b
        LEFT JOIN user u
        ON b.bidder_id = u.id
        LEFT JOIN tmdb_anime ta
        ON ta.id = u.liked_anime_id1
        WHERE goods_id = #{goodsId}
        ORDER BY bid_amount DESC;
    </select>

    <!-- 특정 굿즈 글의 다중 이미지 리스트 조회 -->
    <select id="selectImagesByGoodsId" parameterType="Long" resultType="com.ssafy.backend.goods.model.GoodsResponseDto$GoodsDetailImage">
        select id, goods_id, file_path, sort_order
        from goods_image
        where goods_id = #{goodsId}
        order by sort_order;
    </select>

    <!-- 굿즈 글 수정 (*경매 대기 일 경우에만 가능)-->
    <update id="updateGoods" parameterType="com.ssafy.backend.goods.model.GoodsRequestDto$GoodsModify">
        UPDATE goods
        SET
            title = #{title},
            anime_id = #{animeId},
            category = #{category},
            description = #{description},
            start_price = #{startPrice},
            instant_buy_price = #{instantBuyPrice},
            duration = #{duration},
            updated_at = NOW()
        WHERE auction_status = 'WAIT'
            AND id = #{goodsId}
            AND seller_id = #{loginUserId}
            AND deleted_at IS NULL;
    </update>

    <!-- 굿즈 글 SOFT 삭제 (*진행중이 아닐 경우에만 삭제) -->
    <update id="deleteGoods" parameterType="Long">
        UPDATE goods
            SET deleted_at = NOW()
        WHERE id = #{goodsId}
            AND auction_status != 'PROCEEDING'
            AND seller_id = #{loginUserId}
    </update>

    <!-- 특정 굿즈 경매 상태 조회 -->
    <select id="selectAuctionStatusByGoodsId" parameterType="Long" resultType="com.ssafy.backend.common.enums.AuctionStatus">
        SELECT auction_status
        FROM goods
        WHERE id = #{goodsId}
    </select>


    <!-- 굿즈 다중 이미지(=파일) 업로드 -->
    <insert id="insertFiles" parameterType="GoodsImage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO goods_image (
            goods_id,
            file_path,
            origin_filename,
            stored_filename,
            file_size,
            sort_order
        )
        VALUES (
            #{goodsId},
            #{filePath},
            #{originFilename},
            #{storedFilename},
            #{fileSize},
            #{sortOrder}
        )
    </insert>

    <!-- 굿즈 다중 이미지(=파일) 수정 -->
    <update id="updateFiles" parameterType="java.util.List">

    </update>
</mapper>