<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.backend.user.model.UserMapper">

    <!-- 관심 애니메이션 목록 조회 -->
    <select id="findUserLikedAnimes" resultType="com.ssafy.backend.user.model.AnimeSelectionDto">
        SELECT
            t.id AS animeId,
            t.title AS title,
            t.poster_url AS posterUrl
        FROM tmdb_anime t
        WHERE t.id IN (
            SELECT liked_anime_id1 FROM user WHERE id = #{userId}
            UNION ALL
            SELECT liked_anime_id2 FROM user WHERE id = #{userId}
            UNION ALL
            SELECT liked_anime_id3 FROM user WHERE id = #{userId}
        )
        ORDER BY FIELD(
                         t.id,
                         (SELECT liked_anime_id1 FROM user WHERE id = #{userId}),
                         (SELECT liked_anime_id2 FROM user WHERE id = #{userId}),
                         (SELECT liked_anime_id3 FROM user WHERE id = #{userId})
                 )
    </select>

    <!-- 프로필 이미지 조회 -->
    <select id="findProfileImage" resultType="string">
        SELECT t.poster_url
        FROM user u
                 JOIN tmdb_anime t ON u.liked_anime_id1 = t.id
        WHERE u.id = #{userId}
    </select>

    <!-- 프로필 조회 -->
    <select id="findById" resultType="com.ssafy.backend.user.model.User">
        SELECT
            id,
            liked_anime_id1,
            liked_anime_id2,
            liked_anime_id3,
            name,
            nickname,
            email,
            password,
            is_auth,
            created_at,
            updated_at,
            deleted_at,
            account_num,
            account_bank
        FROM user
        WHERE id = #{userId}
          AND deleted_at IS NULL
    </select>

    <!-- 프로필 수정 -->
    <update id="updateUser" parameterType="com.ssafy.backend.user.model.User">
        UPDATE user
        SET
            nickname = #{nickname},
            account_num = #{accountNum},
            account_bank = #{accountBank},
            liked_anime_id1 = #{likedAnimeId1},
            liked_anime_id2 = #{likedAnimeId2},
            liked_anime_id3 = #{likedAnimeId3},
            updated_at = NOW()
        WHERE id = #{id}
          AND deleted_at IS NULL
    </update>

    <!-- 회원 탈퇴 -->
    <!-- soft delet 방식으로 삭제한다 !!! -->
    <update id="deleteUser">
        UPDATE user
        SET deleted_at = NOW()
        WHERE id = #{userId}
    </update>

</mapper>
