<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.backend.wish.model.WishMapper">

    <!-- 찜 하기 -->
    <insert id="insertWish" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wishlist (goods_id, user_id)
        VALUES (#{goodsId}, #{userId})
    </insert>

    <!-- 찜 취소 -->
    <delete id="deleteWish">
        DELETE FROM wishlist
        WHERE goods_id = #{goodsId}
        AND user_id = #{userId}
    </delete>

    <!-- 찜 카운트 -->
    <select id="selectWishCount">
        select count(*) as wishCount
        from wishlist
        where goods_id = #{goodsId};
    </select>

    <!-- 마이페이지 내 사용자가 찜한 굿즈 목록 조회 -->
    <select id="selectAllWishedGoods">
        SELECT
            w.id AS wishId,
            g.id AS goodsId,
            g.title AS title,
            g.category AS category,
            g.auction_status AS auctionStatus,
            g.start_price AS startPrice,
            ta.title AS animeTitle,
            b.bid_amount AS currentBidAmount,
            gi.file_path AS mainFilePath,
            w.created_at AS wishedAt
        FROM wishlist w
            LEFT JOIN goods g
                ON g.id = w.goods_id
            LEFT JOIN bid b
                ON b.goods_id = g.id
               AND b.is_highest = TRUE
            LEFT JOIN goods_image gi
                ON gi.goods_id = g.id
               AND gi.sort_order = 1
            LEFT JOIN tmdb_anime ta
                ON ta.id = g.anime_id
        WHERE w.user_id = #{loginUserId}
          AND g.deleted_at IS NULL
        ORDER BY w.created_at DESC
    </select>

    <!-- 찜 기준 인기 굿즈 조회 -->
    <select id="selectTop6GoodsOnWishCount">
        SELECT
            g.id AS goodsId,
            g.title AS title,
            g.seller_id AS sellerId,
            g.category AS category,
            g.auction_status AS auctionStatus,
            g.auction_end_at AS auctionEndAt,
            g.start_price AS startPrice,
            g.created_at AS createdAt,
            MAX(u.nickname) AS sellerNickname,
            MAX(ta.title) AS animeTitle,
            MAX(b.bid_amount) AS currentBidAmount,
            MAX(gi.file_path) AS mainFilePath,
            COUNT(w.id) AS wishCount,
            CASE
                WHEN #{loginUserId} IS NULL THEN 0
                ELSE MAX(CASE WHEN w.user_id = #{loginUserId} THEN 1 ELSE 0 END)
            END AS checkWish
        FROM goods g
        LEFT JOIN user u ON g.seller_id = u.id
        LEFT JOIN bid b ON b.goods_id = g.id AND b.is_highest = TRUE
        LEFT JOIN goods_image gi ON gi.goods_id = g.id AND gi.sort_order = 1
        LEFT JOIN wishlist w ON w.goods_id = g.id
        LEFT JOIN tmdb_anime ta ON ta.id = g.anime_id
        WHERE
        g.deleted_at IS NULL
        AND g.auction_status IN ('WAIT', 'PROCEEDING')
        GROUP BY g.id
        HAVING wishCount > 0
        ORDER BY
            wishCount DESC,
            g.created_at DESC
        LIMIT 6
    </select>

</mapper>